.front-notice {
    padding: 0.13vw 0.52vw;          /* 5px 20px */
}
.front-header {
    position: fixed;          /* 固定顶部 */
    top: 0;                   /* 固定在最上方 */
    left: 10vw;
    right: 0;
    z-index: 1000;
    display: flex;
    height: 2.4vw;                  /* 60px */
    line-height: 2.46vw;
    border-bottom: 0.026vw solid #eee; /* 1px */
    background: #fff;
}
.front-header-left {
    position: fixed;          /* 固定顶部 */
    top: 0;                   /* 固定在最上方 */
    left: 0;
    z-index: 1000;
    width: 12vw;
    display: flex;
    align-items: center;
    padding-left: 0.9vw;            /* 30px */
}
.front-header-left img, .front-header-dropdown img {
    width: 1.4vw;                   /* 40px */
    height: 1.4vw;
    border-radius: 50%;
}
.front-header-left .title {
    flex: 1;
    color: #003c9d;
    cursor: pointer;
    margin-left: 0.4vw;             /* 10px */
    font-size: 0.84vw;               /* 20px */
    font-weight: bold;
}
.front-header-center {
    flex: 1;
}
.front-header-right {
    width: 200px;
    padding-right: 20px;
    text-align: right;
}
.front-header-dropdown {
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.main-content {
    width: 90%;
    margin: 0.26vw auto;             /* 10px */
}
.main-container {
    display: flex;

}
.main-body {
    flex: 1;
    padding: 0.52vw;                 /* 20px */
    background-color: #fff;
    min-height: calc(100vh - 5.21vw); /* 200px */
    margin-top: 2.4vw;
}

/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 1.54vw;                  /* 59px */
}